:root{
  --green: #79E058;
  --light-green: #D5F5B5;
  --dark-green: #047C44;
  --grey: #8f8f8f;
  --white: #fff;
  --whitish-grey: #F6FBF4;
  --whitish-grey2: #F7F8EC;
  --black: #000;
  --font-family1: 'Poppins', sans-serif;
  --font-family2: 'Montserrat', sans-serif;
  --font-family3: 'Source Sans Pro', sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: var(--font-family2);
  line-height: 1.5;
  text-align: center;
}

img{
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

p {
  font-size: 1rem;
  color: var(--grey);
}

em {
  color: var(--whitish-grey);
}

a, a:hover{
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p, em {
  overflow-wrap: break-word;
}

/* TYPOGRAPHY */

.big-heading,
.feature-heading,
.membership-heading,
.navbar-brand{
  font-family: var(--font-family1);
}

.about-heading,
.feature-title,
.price-text,
.review-text{
  font-family: var(--font-family3);
}

.big-heading,
.nav-link{
  font-weight: 400;
}

.feature-heading,
.feature-title,
.review-text,
.navbar-brand
{
  font-weight: 600;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/* CONTAINERS */

.container-fluid {
  padding: 5% 15%;
}
#title .container-fluid {
  padding: 0;
}
#features .container-fluid {
  padding: 0 10%;
}
#reviews .container-fluid {
  padding: 7% 15%;
}
#footer .container-fluid {
  padding: 5% 0 2%;
}

/* HEADINGS */

.big-heading {
  font-size: 3.2rem;
  color: var(--whitish-grey);
}

.big-heading-span {
  text-decoration: underline;
  text-decoration-color: var(--whitish-grey2);
  color: var(--green);
}

.feature-heading {
  padding: 2.5rem 0 1.8rem 0;
}

.about-heading {
  font-size: 2.4rem;
  margin-bottom: 1.25rem;
  color: var(--whitish-grey2);
}

.membership-heading {
  text-decoration: underline;
  font-size: 3.2rem;
}

/* NAVBAR */
.navbar-brand {
  padding-left: 1.3rem;
  font-size: 1.5rem;
}

.nav-item {
  padding: 0 0.6rem;
}

.nav-link {
  font-size: 1rem;
  position: relative;
  border-radius: 10px;
}

.nav-link:hover {
  background-color: var(--light-green);
  text-decoration: underline;
  color: var(--black);
}

/* DOWNLOAD BUTTONS */
.download-button {
  margin: 5% 3% 5% 0;
}

.btn,
.nav-link{
  transition: background-color 0.4s ease-out;
}

/* TITLE  */

.main {
  position: relative;
  text-align: center;
}

.main-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
}

.title-img {
  padding: 0;
  margin: 0 auto;
  max-height: 100%;
}

/* FEATURES SECTION */

.feature-box {
  padding: 5%;
}

.feature-title {
  font-size: 1.5rem;
}

.icon {
  color: var(--green);
  margin-bottom: 1rem;
}

.icon:hover {
  color: #379237;
}

/* About */
#about {
  background-image: url("../images/crissxcross.png");
  background-color: var(--dark-green);
  text-align: left;
}

#about p {
  color: var(--whitish-grey2);
}

/* MEMBERSHIP */
#membership {
  padding: 5rem;
  background-color: var(--white) ;
}

.card {
  height: 100%;
}

.card-footer {
  border-top: none;
  background-color: var(--white);
}

.card-button {
  border: 1px solid var(--black);
}

.card-button:hover, .card-button:active {
  background-color: var(--light-green);
  color: var(--black);
}

.price-text {
  font-size: 2rem;
}

.pricing-col {
  padding: 3% 2%;
}

/* REVIEWS */
#reviews {
  background-image: url("../images/crissxcross.png");
  background-color: var(--dark-green);
}

.carousel-inner {
  height: 400px;
}

.review-text {
  font-size: 1.8rem;
  color: var(--whitish-grey);
}

.review-img {
  display: inline-block;
  width: 10%;
  border-radius: 100%;
  margin: 0.6rem;
}

/* FOOTER */
.s-icon {
  margin: 1.25rem 0.6rem;
}

/* MEDIA QUERIES */

@media (max-width: 750px) {
  body {
    padding-top: 3.125rem;
  }

  .hidden {
    display: none;
  }

  .review-text,
  .big-heading{
    font-size: 1.2rem;
  }

  .review-text {
    padding-top: 5rem;
  }
}